---
layout: archive
title: "Research"
permalink: /publications/
author_profile: true
classes: research-page
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

{% assign working_papers = site.publications | where: "category", "workingpapers" | sort: "date" | reverse %}
{% assign published_papers = site.publications | where: "category", "publications" | sort: "date" | reverse %}

{% if working_papers.size > 0 %}
  <h2>Working Papers</h2><hr />
  {% for post in working_papers %}
    {% include archive-single-research.html %}
  {% endfor %}
{% endif %}

{% if published_papers.size > 0 %}
  <h2>Published Papers</h2><hr />
  {% for post in published_papers %}
    {% include archive-single-research.html show_publication_details=true %}
  {% endfor %}
{% endif %}
